<launch>
    <!-- Config File Argument -->
    <arg name="scan_config" default="$(find dual_arm_tracking)/config/dual_arm_tracking.yaml" />

    <arg name="sim" default="false"/>

    <!-- 加载环境 -->
    <include file="$(find zlab_environment)/launch/load_environment.launch"/>

    <!-- Launch Triple Arm MoveIt Environment -->
    <include file="$(find zlab_robots_bringup)/launch/triple_arm/triple_arm_moveit.launch" if="$(arg sim)">
        <arg name="arm1_tool" value="none"/>
        <arg name="arm2_tool" value="tool300"/>
        <arg name="diana7_tool" value="bracket"/>
        <arg name="use_rviz" value="false"/>
    </include>

    <include file="$(find zlab_robots_bringup)/launch/triple_arm/triple_arm_bringup.launch" unless="$(arg sim)">
        <arg name="arm1_tool" value="none"/>
        <arg name="arm2_tool" value="tool300"/>
        <arg name="diana7_tool" value="bracket"/>
        <arg name="use_rviz" value="false"/>
    </include>

    <!-- Start RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dual_arm_tracking)/config/dual_arm_tracking.rviz" />

    <!-- Start Sensor Driver -->
    <include file="$(find mag_device_sensor)/launch/hardware.launch"/>

    <!-- Start Pose Estimation -->
    <include file="$(find mag_pose_estimator)/launch/mag_pose_estimator.launch"/>

    <!-- Start The Scan Node -->
    <node pkg="dual_arm_tracking" type="dual_arm_tracking_node" name="dual_arm_tracking" output="screen">
        <rosparam command="load" file="$(arg scan_config)" />
    </node>
</launch>
