<launch>
    <!-- 日志配置 -->
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find mag_arm_scanner)/config/rosconsole.conf"/>

    <!-- Config File Argument -->
    <arg name="scan_config" default="$(find mag_arm_scanner)/config/scanner_config.yaml" />

    <arg name="sim" default="false"/>

    <!-- 加载环境 -->
    <include file="$(find zlab_environment)/launch/load_environment.launch"/>

    <!-- Launch Triple Arm MoveIt Environment -->
    <include file="$(find zlab_robots_bringup)/launch/triple_arm/triple_arm_moveit.launch" if="$(arg sim)">
        <arg name="arm1_tool" value="none"/>
        <arg name="arm2_tool" value="tool300"/>
        <arg name="diana7_tool" value="bracket"/>
        <arg name="use_rviz" value="false"/>
    </include>

    <include file="$(find zlab_robots_bringup)/launch/triple_arm/triple_arm_bringup.launch" unless="$(arg sim)">
        <arg name="arm1_tool" value="none"/>
        <arg name="arm2_tool" value="tool300"/>
        <arg name="diana7_tool" value="bracket"/>
        <arg name="use_rviz" value="false"/>
    </include>

    <!-- Start RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mag_arm_scanner)/config/scanner_view.rviz" />

    <!-- Start Sensor Driver -->
    <include file="$(find mag_device_sensor)/launch/hardware.launch"/>

    <!-- Start Pose Estimation -->
    <include file="$(find mag_pose_estimator)/launch/mag_pose_estimator.launch"/>

    <!-- Start The Scan Node -->
    <node pkg="mag_arm_scanner" type="03_dual_sync_tracker_node" name="dual_sync_track" output="screen">
        <rosparam command="load" file="$(arg scan_config)" />
    </node>
</launch>
