<launch>

    <!-- Node bringup -->
    <arg name="start_sensor" default="true" />
    <arg name="start_viz" default="true" />
    <arg name="start_estimator" default="false" />
    <arg name="start_scan" default="false" />

    <!-- Args -->
    <arg name="use_sim" default="true" />
    <arg name="with_rviz" default="true" />

    <!-- Keep topics in YAML; launch stays minimal -->

    <!-- Sensor bringup: gated + real or sim -->
    <group if="$(arg start_sensor)">
        <group if="$(arg use_sim)">
            <include file="$(find mag_sensor_node)/launch/mag_sensor_sim_node.launch" />
        </group>
        <group unless="$(arg use_sim)">
            <include file="$(find mag_sensor_node)/launch/mag_sensor_node.launch" />
        </group>
    </group>

    <!-- Visualization (YAML-driven) -->
    <group if="$(arg start_viz)">
        <include file="$(find mag_viz)/launch/mag_sensor_viz.launch"/>
        <include file="$(find mag_viz)/launch/magnet_viz.launch"/>
    </group>

    <group if="$(arg with_rviz)">
        <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find mag_viz)/config/rviz.rviz"  />
    </group>


    <!-- Estimator -->
    <group if="$(arg start_estimator)">
        <include file="$(find mag_pose_estimation)/launch/mag_pose_estimation.launch" />
    </group>

    <!-- Optional: scan orchestrator -->
    <group if="$(arg start_scan)">
        <include file="$(find mag_arm_scan)/launch/mag_arm_scan.launch" />
    </group>
</launch>
