<launch>
  <arg name="config" default="$(find mag_device_arm)/config/dual_arm.yaml" />
  <arg name="magnet_tool" default="none" />
  <arg name="sensor_tool" default="magnetic_sensor_bracket" />

  <node pkg="mag_device_arm" type="arm_main" name="mag_device_arm" output="screen">
    <rosparam command="load" file="$(arg config)" />
    <param name="config/arms/0/tool_mount/selected" value="$(arg magnet_tool)" />
    <param name="config/arms/1/tool_mount/selected" value="$(arg sensor_tool)" />
  </node>
</launch>
