<launch>
  <!-- 配置参数 -->
  <arg name="config" default="$(find mag_device_arm)/config/dual_arm.yaml" />
  
  <!-- Tool 参数 -->
  <arg name="arm1_tool" default="permanent_magnet" doc="Tool name for arm1"/>
  <arg name="arm2_tool" default="magnetic_sensor_bracket" doc="Tool name for arm2"/>
  
  <!-- MoveIt 选项 -->
  <arg name="pipeline" default="ompl" doc="Planning pipeline to use with MoveIt"/>
  
  <!-- Gazebo 选项 -->
  <arg name="gazebo_gui" default="true" doc="Start Gazebo GUI"/>
  <arg name="paused" default="false" doc="Start Gazebo paused"/>
  <arg name="world_name" default="worlds/empty.world" doc="Gazebo world file"/>
  
  <!-- MoveIt 选项 -->
  <arg name="use_rviz" default="true" doc="Start RViz"/>

  <!-- 启动 Gazebo 和 MoveIt 配置 -->
  <include file="$(find zlab_robots_bringup)/launch/fr5/dual/fr5_dual_gazebo.launch">
    <arg name="arm1_tool" value="$(arg arm1_tool)"/>
    <arg name="arm2_tool" value="$(arg arm2_tool)"/>
    <arg name="pipeline" value="$(arg pipeline)"/>
    <arg name="use_rviz" value="$(arg use_rviz)"/>
    <arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="world_name" value="$(arg world_name)"/>
  </include>

  <node pkg="mag_device_arm" type="arm_node" name="mag_device_arm" output="screen">
    <rosparam command="load" file="$(arg config)" />
  </node>
</launch>

