<launch>
  <arg name="config" default="$(find mag_device_arm)/config/single_arm.yaml" />
  <arg name="tool" default="magnetic_sensor_bracket" />

  <node pkg="mag_device_arm" type="arm_main" name="mag_device_arm" output="screen">
    <rosparam command="load" file="$(arg config)" />
    <param name="config/arms/0/tool_mount/selected" value="$(arg tool)" />
  </node>
</launch>
