<?xml version="1.0"?>
<launch>
  <!-- 传感器硬件驱动节点启动文件 -->
  <!-- 读取硬件传感器数据并发布 -->

  <arg name="config_file" default="$(find mag_device_sensor)/config/hardware.yaml" />

  <node pkg="mag_device_sensor" type="sensor_driver_node" name="mag_device_sensor" output="screen">
    <rosparam command="load" file="$(arg config_file)" />
  </node>
</launch>
