<launch>
  <arg name="array_file" default="$(find mag_core_description)/config/sensor_array.yaml" />
  <arg name="config_file" default="$(find mag_device_sensor)/config/simulation.yaml" />

  <node pkg="mag_device_sensor" type="sensor_sim_node" name="mag_device_sensor_sim" output="screen">
    <rosparam command="load" file="$(arg array_file)" ns="array" />
    <rosparam command="load" file="$(arg config_file)" />
  </node>
</launch>
