<?xml version="1.0"?>
<launch>
    <arg name="sim" default="false" doc="是否启动仿真节点" />

    <!-- 加载配置文件 -->
    <rosparam command="load" file="$(find magnetic_pose_estimation)/config/sensor_config.yaml" />
    
    <rosparam command="load" file="$(find magnetic_pose_estimation)/config/estimation_config.yaml" />

    <node pkg="magnetic_pose_estimation" type="earth_field_processor_node"
        name="earth_field_processor_node" output="screen" />

    <!-- 启动磁铁位置估计节点 -->
    <node name="magnet_pose_estimator" pkg="magnetic_pose_estimation"
        type="magnet_pose_estimator_node" output="screen">
        <param name="max_iterations" value="100" />
        <param name="convergence_threshold" value="1e-6" />
    </node>

    <!-- 根据sim参数决定是否启动仿真节点 -->
    <group if="$(arg sim)">
        <include file="$(find magnetic_pose_estimation)/launch/simulation.launch" />
    </group>
    <group unless="$(arg sim)">
        <include file="$(find magnetic_pose_estimation)/launch/sensor_reader.launch" />
    </group>

        
</launch>