<launch>
    <!-- 可选参数，默认true -->
    <arg name="enable_visualization" default="true" />

    <!-- 加载配置文件 -->
    <rosparam command="load" file="$(find magnetic_pose_estimation)/config/simulation_config.yaml" />
    <!-- 加载传感器配置 -->
    <rosparam command="load" file="$(find magnetic_pose_estimation)/config/sensor_config.yaml" />

    <!-- 启动仿真节点 -->
    <node name="simulation_node" pkg="magnetic_pose_estimation" type="simulation_node" output="screen" />

    <!-- 条件启动 visualization.launch -->
    <include if="$(arg enable_visualization)" file="$(find magnetic_pose_estimation)/launch/visualization.launch" />
</launch>